.steps {
  position: relative;
  padding-top: 125px;
  height: 100%;
  background-color: $greenDark;
  background-image: image-set(
    url('../img/bg@1x.webp') type('image/webp') 1x,
    url('../img/bg@2x.webp') type('image/webp') 2x,
    url('../img/bg@1x.jpg') type('image/jpg') 1x,
    url('../img/bg@2x.jpg') type('image/jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media(max-width: $mobile) {
    padding-top: 100px;
    background-image: image-set(
    url('../img/bg-mob@1x.webp') type('image/webp') 1x,
    url('../img/bg-mob@2x.webp') type('image/webp') 2x,
    url('../img/bg-mob@1x.jpg') type('image/jpg') 1x,
    url('../img/bg-mob@2x.jpg') type('image/jpg') 2x
  );
  }

  &__title {
    margin-bottom: 58px;

    @media(max-width: $mobile) {
      margin-bottom: 0;
    }
  }
}

.steps-slider-wrapper {
  position: relative;
  min-height: 548px;

  @media(max-width: $tablet) {
    min-height: auto;
  }

  // @media(max-width: $mobile) {
  //   margin-right: -20px;
  // }
}

.steps-slider {

  @media(min-width: 991px) {
    overflow: initial;
  }

  @media(max-width: $tablet) {
    padding-top: 10px;
  }

  @media(max-width: $mobile) {
    padding-top: 30px;
  }

  &__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  &__btn {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    width: auto;
    height: auto;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: $lightColor;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      width: 18px;
      height: 11px;
      background-image: url("../img/arrowbtn.svg");
      background-repeat: no-repeat;
    }

    &_prev {
      padding-left: 26px;

      &::after {
        left: 0;
        rotate: 180deg;
      }
    }

    &_next {
      padding-right: 26px;

      &::after {
        right: 0;
      }
    }
  }
}

.step-icon {
  position: absolute;
  top: 13px;
  display: block;
  height: 42px;
  width: 100%;

  @media(max-width: $mobile) {
    top: 18px;
    height: 59px;
  }
}

.step-card {
  position: absolute;
  width: 301px;
  padding-right: 15px;

  &::after {
    content: '';
    position: absolute;
    top: -21px;
    right: -12px;
    width: 44px;
    height: 61px;
    background-image: url("../img/drop.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: $mobile) {
      top: -30px;
      right: -41px;
      width: 62px;
      height: 75px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &_one {
    position: relative;

    &::before {
      top: 81px;
      left: 19px;
      width: 213px;
      height: 232px;
      background-image: url("../img/path-1.svg");
    }
  }

  &_two {
    left: 77px;
    top: 247px;

    &::before {
      top: 66px;
      right: -79px;
      width: 195px;
      height: 170px;
      background-image: url("../img/path-2.svg");
    }
  }

  &_three {
    left: 428px;
    top: 344px;

    &::before {
      top: -160px;
      left: 31px;
      width: 210px;
      height: 234px;
      background-image: url("../img/path-3.svg");

      @media(max-width: $desktop) {
        left: -44px;
        height: 181px;
      }
    }
  }

  &_four {
    left: 356px;
    top: 114px;

    &::before {
      top: -62px;
      right: -231px;
      width: 310px;
      height: 112px;
      background-image: url("../img/path-4.svg");
    }
  }

  &_five {
    right: 0;
    top: 42px;

    &::before {
      top: 64px;
      right: -1px;
      width: 259px;
      height: 186px;
      background-image: url("../img/path-5.svg");
    }

    .step-icon {
      height: 25px;
    }
  }

  &_six {
    right: 139px;
    top: 198px;

    @media(max-width: $desktop) {
      right: 50px;
    }

    .step-icon {
      height: 25px;
    }
  }

  @media(max-width: $tablet) {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    width: auto;
  }

  @media(max-width: $mobile) {
    padding-right: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 11px 12px 12px;
    border: 3px solid #fff;
    border-radius: 35px 0px 35px 0px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);

    @media(max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    @media(max-width: $mobile) {
      min-height: 217px;
      padding: 39px 15px;
      gap: 22px;
    }
  }

  &__number {
    position: relative;
    width: 51px;
    min-width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    background-color: $greenDark;
    border-radius: 50%;

    @media(max-width: $mobile) {
      width: 74px;
      height: 74px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: $lightColor;
  }
}